.login-status {
    height: 4rem;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .login-status button {
    background-color: var(--background-color);
    margin-right: 1rem;
  }

  .login-status span {
    margin-right: 1rem;
  }